.columns_1{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0px auto;
  justify-content: space-between;
  font-size: large;

}
.column-1 {
  margin-bottom: 20px;
  width: auto;
  border: 2px solid rgba(11, 1, 1, 0);
  box-shadow: 0 0 5px 5px #333;
  padding: 10px;
  margin: 10px;
  margin-top: 50px;
  background: #fff;
}


.media-1{
  display: flex;
}

.button-1{
color: #fff;
width: 170px;
height: 39px;
background: #a8a8716b;
border: 2px solid rgba(0, 1, 1, 0.178);
border-radius: 2px;
cursor: pointer;
font-size: 1.1em;
font-weight: 500;
transition: .3s;
}

.button-1.hover {
  background: transparent;
color: #fff;
}

.food_card{
  display: flex;
  gap: 20px;
}

.card-image-1 img{
    width: 200px;
    height: 150px;

}