.columns__2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    ;
}

.section__2 {
justify-content: space-between;
align-items: center;
text-align: center;


}

.column__2 {
    border: 2px solid rgba(11, 1, 1, 0);
    
    box-shadow: 0 0 5px 5px #333;
    
}

