.my_orders {
  height: 500px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  background-color: #eeededd4;
}

th {
  font-size: 23px;
}

td {
  font-size: 20px;
  color: #333;
}

.no_order {
  width: 250px;
  margin: 0px auto;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  gap: 5px;
  margin-top: 100px;
}

