.menu_section {
  background: rgb(190, 190, 190);
  padding-top: 50px;
  margin: auto;
  margin-bottom: 50px;

}
.section_1 {
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
}

.section_1 h1{
  font-size: 25px;
  font-weight: 700;
}

.food{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
