.section__55 {
  background: rgb(243, 239, 239);
  height: 500px;
}

.columns__55 {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0px auto;
  justify-content: space-evenly;
  font-size: large;
}

.room_img img{
  margin-top: 65px;
  margin-bottom: 10%;
  margin-right: 150px;
  border: 2px solid #333;
  height: 100%;
  width: 100%;
}

.column__45 {
  margin-top: 39px;
  text-align: center;
  margin-top: 90px;
  font-size: 22px;
  
}

.text__76 {
  color: red;
}

.text__80 {
  color: green;
}

.button__77 {
  color: white;
  width: 300px;
  height: 40px;
  background: #fea116;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #fea116;
  margin-top: 20px;
  transition: .3s;
}

.button__77:hover {
  color: #333;
  background: transparent;
}
